#box {
  position: relative;
  width: 50vw;
  height: 50vh;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  margin: auto;
  margin-top: 20vh;
}

#ball {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
}


/* Box Opacity Start */
.box {
  width: 100px;
  height: 100px;
  background-color: #007bff;
  transition: opacity 0.6s ease;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  gap: 10px;
}

.container:hover > *:not(:hover){
  opacity: 0.4;
}
/* Box Opacity End */
